@charset "UTF-8";

#nav-col{
    background: rgb(69, 255, 153);

}

.text-uppercase{
    color: rgb(69, 255, 153);
}

#row_input{
    padding: 1rem;
}
.nav-item{
    padding-left: 1rem;
}
.btn{
    border-radius: 0.625rem;
}
#btn_add{
    margin-left: 1rem;
    background: #20BDFF;  
    background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF); 
    background: linear-gradient(to right, #A5FECB, #20BDFF); 
    border-radius: 0.625rem;

    color: #0d6efd;
}

#nav_index{
    background: #0d6efd; 
    background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #0d6efd);  
    background: linear-gradient(to right, #A5FECB, #20BDFF, #0d6efd); 
    border-radius: 0.625rem;

}

.header {
    background-color: white;
    border-color: white;
    position: fixed;
    z-index: 100;
    width: 100%;  
    display: block;
}
#container_p {
    padding-top: 5rem;

}
#container_s {
    margin: 1rem;
}
.bi-plus-circle-fill{
    margin-right: 10px;
}

#b_tabla{
    border-radius: 50px;

    margin-left: 1rem;
    margin-right: 1rem;

}

#cont_in{
    border-radius: 0.625rem;
    background: #0d6efd; 
    background: -webkit-linear-gradient(to right, #0d6efd, #20BDFF, #A5FECB);  
    background: linear-gradient(to right, #0d6efd, #20BDFF, #A5FECB); 
    padding: 0.5rem;
}


#title{
    display: grid;
    place-items: center;
    text-align: center;
}



#marca{
    font-family: Candara;
    color: black;
}

#logo {
    height:3.6rem;
    line-height:3.6rem;
    background:#0d6efd;
    display:inline-block;
    position:relative;
    
}
#img_l{
    padding-left: 1rem;
}
  
#logo:after {
    content:"";
    position:absolute;
    right:-30px;
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 3.6rem solid #0d6efd;
    z-index:1;
}

#SLIDE_BG{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    animation: slideBg 8s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url('../img/zapatos1_1.png');
}

@keyframes slideBg {
    0% {
        background-image: url('../img/zapatos1_1.png')
        }
    25%{
        background-image: url('../img/zapatos3_1.png')
    }
    50%{
        background-image: url('../img/zapatos2_1.png')
    }
    75%{
        background-image: url('../img/zapatos4\ _1.png')
    }

}

